html,body{
	height: 99%;
	width: 99%;
  background-color: #FFC2DE;
}
*{
	box-sizing: border-box;
}
.banner{
	margin: 11px;
	padding: 10px;
	border: 3px solid #d9004c ;
	box-shadow: 1px 3px 30px 1px #e87d7d;
	text-transform: capitalize;
	font-family: Brush Script MT;
	height: 120px;
	text-align: right;
	font-style: italic;
  color:  #CD0000;
  background-image: url(bows.png);
  background-size: 350px;
  background-position: right;
  font-size: 18px;
}
h1{
	font-size: 1em;
}

#logo{
	width: 75px;
	position: absolute;
	top: 50px;
	right: 150px;
}
.container{
	border:2px #3e0404 solid;
	position: relative;
	top: 2px;
	margin: 15px;
	padding: 10px;
	height: 700px;
	overflow: hidden;
	background-color: rgba(254,166,104,0.4);
  background-image: url(pixels.png);
  background-size: 400px 100px;
  background-position: left right;
  
}
.wave{
	border: #E0115F	 1px solid;
	color: whitesmoke;
	text-align: center;
	background-color: rgba(255, 105, 180);
	font-size: 0.9em;
	height: 25px;
	overflow: hidden;
	width: 80%;
	position:relative;
	left: 10%;
	transition: height 4s;
	display:block;
}
#l1{
	border:#D9A4 1px solid;
	background-image:repeating-linear-gradient(#FF33FC,#FF69B4,#F8C8DC	,#FFC0CB	);
}
.wave:hover{
	height:90%;
	top:1px;
	z-index:1;
  background-image: repeating-linear-gradient(#FF69B4, #FFC0CB, #F8C8DC	);
}
